header{
  text-align:center;
  background: url('images/aulanicropped4.jpeg') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
}
.main-image{
    border-radius:50%;
    width:250px;
    height:250px;
}
header .main-image:hover{
  transform: scale(1.2) rotate(360deg);
}
h1 {
  text-align:center;
  background-color:lightgrey;
  padding: 5px;
  border-radius:5px;
  display:table;
  margin:auto;
}
.tag{
  text-align:center;
  background-color:slategrey;
  padding: 5px;
  border-radius:5px;
  display:table;
  margin:auto;
}
main .bigpic{
  height:250px;
  width: 500px;
}
main .aulanipic{
  height: 250px;
  width: 375px;
}
main{
  text-align: center;
}
img{
  padding:15px;
}
main .tallpic{
  height:450px;
  width: 300px;
}
h2{
  text-decoration: underline;
  padding-top: 30px;
}