
header{
  text-align:center;
  background:url('images/aulanicropped.jpeg') no-repeat top center;
  background-size:cover;
  overflow:hidden;
  padding-top:60pxx;

}
body{
  font-family: "Arial";
}
.main-image{
    border: solid black 4px;
    border-radius:50%;
    width:150px;
    height:150px;
}

h1{
  text-align:center;
  background-color:#e2e2e2;
  padding: 5px;
  border-radius:5px;
  display:table;
  margin:auto;
}

.section-title{
    text-transform:capitalize; 
}