
header{
  text-align:center;
  background:url('../images/clouds.jpeg') no-repeat top center;
  background-size:cover;
  overflow:auto;
  padding-top:100px;
  height:100%;
}
body{
  font-family: "Arial";
}
.main-image{
    border: solid black 4px;
    border-radius:50%;
    width:250px;
    height:250px;
}
header .main-image:hover{
  transform: scale(1.2) rotate(360deg);
}
h2{
  text-decoration: underline;
}
h1 {
  text-align:center;
  background-color:#74a1e8;
  padding: 5px;
  border-radius:5px;
  display:table;
  margin:auto;
}
.tag{
  text-align:center;
  background-color:#74a1e8;
  padding: 5px;
  border-radius:5px;
  display:table;
  margin:auto;
}
.section-title{
    text-transform:capitalize; 
}